body{
	background-color: #e0f2fb;
  font-family: 'Gayathri', sans-serif;
}

h3{
  text-align: center;
}

.video-container{
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  margin: auto;
}

.video-class {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.magictime {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.swiper-container {
      width: 75%;
      height: 75%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.preview{
  width: 75%;
  height: 75%;
  margin: auto;
  text-align: center;
}

.preview-text{
  background-color: #ffe5b4;
}

.unlock-text{
  width: 75%;
  height: 75%;
  margin: auto;
  text-align: center;
}

img{
  margin: auto;
  width: 75%;
  height: 75%;
}

#prelude-img{
  margin: auto;
  width: 30%;
  height: 30%;
}

@media only screen and (min-width: 600px) {
	.video-class {width: 75%; height: 75%; margin: auto; display: block;}
}