body{
	background-color: #F5F5F5;
}

.video-container{
	width: 75%;
	height: 75%;
	margin: auto;
	display: block;
}

@media only screen and (min-width: 600px) {
	.video-class {width: 75%; height: 75%; margin: auto; display: block;}
}